extends layout

block content
	div.container(layout="row" flex)
		md-content.md-padding(ng-controller="postViewCtrl" layout="column" flex)
			h1.md-display-3 #{postData.title}
			p Posted: {{datePosted | date : "dd MMM, y - HH:mm"}}
			p {{contentPosted}}
			p By #{postData.author}
	script.
		postDate="#{postData.postDate}";
		postContent="#{postData.content}"